{{ define "title" }}Change Password{{ end }}

{{ define "main" }}
  <h2>Change Password</h2>
  <form action="/account/password/update" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
    <div>
      <label for="current_password">Current Password:</label>
      {{ with .Form.FieldErrors.currentPassword }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="current_password" />
    </div>
    <div>
      <label for="new_password">New Password:</label>
      {{ with .Form.FieldErrors.newPassword }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="new_password" />
    </div>
    <div>
      <label for="confirm_new_password">Confirm New Password:</label>
      {{ with .Form.FieldErrors.confirmNewPassword }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="confirm_new_password" />
    </div>
    <div>
      <input type="submit" value="Change Password" />
    </div>
  </form>
{{ end }}
